@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap');


body{

font-family: 'Kaisei Tokumin', serif;
font-size: 18px;
background-image: url("../img/fundo.gif");


}

h1{
font-size: 3em ;
margin: 0;
padding: 0;


}
.container{

margin: 20px;

background-color: rgba(255 , 255 , 255, 0.5);



}

img{

width: 200px;
height: 300px;
object-fit: cover;
margin: 5px;


}

.lista-animes{

display: flex;
justify-content: space-around;
flex-wrap: wrap;

}

.cartao{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
flex-flow: column;



}